@import '../../assets/SCSS/-variable.scss';

.nav-item {
    background-color: $mainColor;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.nav-link {


    a {
        text-decoration: none;
        font-size: 20px;

    }
}